a {
	color: white;
	padding-left: 120px;
	margin-left: 50px;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
}

body {
	background-color:#ECECEC;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	width: 100%;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
}

header {
	margin-top: 15px;
	background-color: black;
	padding-left: 30px;
}

img {
	padding-top: 30px;
	height: 100px;
	width: 110px;
}

pre {
	text-align: center;
}




